<h1>メモ投稿</h1>
<%= form_with url: "/posts", method: :post, id: "form" do |f| %>
  <%= f.text_field :content, id: "content" %>
  <%= f.submit "投稿", id: "submit" %>
<% end %>

<div id ="list">
</div>

<% @posts.each do |p| %>
  <div class = "post">
    <div class = "post-date">
      投稿日時:<%= p.created_at %>
    </div>
    <div class = "post-content">
      <%= p.content %>
    </div>
  </div>
<% end %>
